/* set font */
@font-face {
    font-family: 'ubunturegular';
    src: url('Fonts/ubuntu-regular-webfont.woff2') format('woff2'),
         url('Fonts/ubuntu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntubold';
    src: url('Fonts/ubuntu-bold-webfont.woff2') format('woff2'),
         url('Fonts/ubuntu-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntulight';
    src: url('Fonts/ubuntu-light-webfont.woff2') format('woff2'),
         url('Fonts/ubuntu-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* zero margin */
html, body{
    font-family: "ubunturegular";
    color: white;
    background-color: #2c2c2c;
    margin: 0;
    scroll-behavior: smooth;

}

/* headers idk */
h1{
    font-family: "ubuntubold";
    font-size: clamp(16px, 4vw, 42px);
    display: inline;
    color: #5A9D60;
}
h2{
    font-family: "ubuntubold";
    font-size: clamp(12px, 4vw, 32px);
    display: inline;
}
h3{
    font-family: "ubuntulight";
    font-size: clamp(12px, 4vw, 32px);

}
h4{
    font-family: "ubuntulight";
    font-size: clamp(5px, 4vw, 24px);

}
h5{
    font-family: "ubuntulight";
} 

/* hyper links */
a{
    color: white;
    text-decoration: underline;
}
a:hover{
    color: #5A9D60;
    font-weight: bolder;
}

/* navigationBar */
.topnav {
    overflow: hidden;
    background-color: #2c2c2c;
    position: fixed;
    width: 100%;
}
.topnav a {
    font-family: "ubuntulight";
    float: right;
    color: #E0E0E1;
    text-align: center;
    padding: 8px 14px;
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
}
.topnav a:hover {
    font-weight: bolder;
    color: #5A9D60;
}
.topnav a.active {
    font-weight: bold;
    color: white;
}

/* main content */
.main{
    text-align: center;
    padding: clamp(25px, 4vw, 50px);
    margin: auto;
}

/* grids */
.grid-container {
    display: grid;
    grid-template-columns: auto;
    row-gap: clamp(25px, 4vw, 150px);
}
.grid-item{
    border-radius: 15px;
    align-self: center;
}

.section{
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;

}

.container{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.icon{
    width: 40px;
    height: 40px;
    padding: 0px 15px;
    fill: white;
}
/*
Identifiers
*/

/* title */
#print, #string, #brackets{
    font-size: clamp(22px, 4vw, 52px);
}
#print{
    font-family: monospace;
    color: #7572B9;
    font-weight: normal;
}
#brackets{
    font-family: monospace;
    color: #AEB0B7;    
    font-weight: normal;  
}
#string{
    font-family: monospace;
    color: #5A9D60;
    font-weight: normal;
}

#catch-phrase{
    padding: clamp(25px, 4vw, 100px);
    color: #E0E0E1;

}

/* profile pic */
#logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px 50px;
}

#project-pic{
    width: 70%;
    width: 70%;
    margin: 0;
    border-radius: 10px;
    overflow: clip;
}

/* grids */


/* webpage sections */
#about{
    margin: 0;
    background-color: #2c2c2c;
}
/* main content */
#about-main{
    text-align: center;
    padding: clamp(25px, 4vw, 50px);
    margin: auto;
}


#projects{
    margin: 0;
    background-color: #1E1E1E;
    overflow: scroll;
}

#footer{
    margin: 0;
    background-color: #2c2c2c;
}
