/* set font */
@font-face {
    font-family: 'ubunturegular';
    src: url('fonts/ubuntu-regular-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntubold';
    src: url('fonts/ubuntu-bold-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntulight';
    src: url('fonts/ubuntu-light-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'jetbrains_monoregular';
    src: url('fonts/jetbrainsmono-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/jetbrainsmono-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* zero margin */
html, body{
    font-family: "ubunturegular";
    color: white;
    background-color: #141414;
    margin: 0;
    scroll-behavior: smooth;

    -ms-overflow-style: none;
    scrollbar-width: none;

}

/* headers idk */
h1{
    font-family: "ubuntubold";
    font-size: clamp(16px, 4vw, 42px);
}
h2{
    font-family: "ubuntubold";
    font-size: clamp(12px, 4vw, 32px);
    display: inline;
}
h3{
    font-family: "ubuntulight";
    font-size: clamp(12px, 4vw, 32px);

}
h4{
    font-family: "ubuntulight";
    font-size: clamp(5px, 2vw, 24px);
}
h5{
    font-family: "ubuntulight";
} 

/* hyper links */
a{
    color: #ddd;
    font-style: italic;
    text-decoration: none;
}
a:hover{
    color: #5A9D60;
    font-weight: bolder;
    text-decoration: underline;
}

/* navigationBar */
.topnav {
    overflow: hidden;
    background-color: #1a1a1a;
    position: fixed;
    width: 100%;

}
.tabButton {
    font-family: "ubuntulight";
    text-align: center;
    font-size: 15px;

    color: #E0E0E1;
    background-color: #00000000;

    border: none;

    float: right;
    
    padding: 8px 14px;
    margin: 10px;
}
.tabButton:hover {
    background-color: #00000000;
    color: #5A9D60;
}
.tabButton.active {
    background-color: #00000000;
    color: #5A9D60;
}

/* main content */
.tabcontent{
    height: 100vh;
    text-align: center;
    justify-content: center;
    overflow-y: hidden;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* grids */
.project-grid-container {
    display: grid;
    grid-template-columns: auto;
    row-gap: clamp(25px, 4vw, 150px);
}
.grid-item{
    border-radius: 15px;
    align-self: center;
}

.section{
    height: 100vh;
    display: flex;

    align-items: center;
    justify-content: center;

    scroll-snap-align: start;
    scroll-behavior: smooth;
}

.container{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.container::-webkit-scrollbar {
    display: none;
}

.icon{
    width: 3%;
    height: 3%;
    padding: 0px 1%;
    fill: white;
}
.icon:hover{
    fill: #5A9D60;
}
/*
Identifiers
*/

/* title */
.intro-title{
    font-size: clamp(24px, 5vw, 82px);
    font-family: "jetbrains_monoregular";
    display: inline;
}
.subtitle{
    font-family: "ubuntulight";
    text-align: center;
    padding: 0px 5%;
    color: #E0E0E1;
    text-decoration: none;
}
.purple{
    color: #7572B9;
}
.dark-white{
    color: #AEB0B7;    
}
.green{
    color: #5A9D60;
}

/* profile pic */
#logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px 20px;
}

#project-pic{
    width: 70%;
    width: 70%;
    margin: 0;
    border-radius: 10px;
    overflow: clip;
}

/* grids */


/* webpage sections */
#about{
    text-align: center;
    margin: 0;

}

#skills{
    margin: 0;
    overflow: scroll;
}

#projects{
    margin: 0;
    overflow: scroll;
}

#footer{
    margin: 0;
    background-color: #2c2c2c;
}
